<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Experiment with Bokeh</title>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.13.0.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
</head>
<header><title>Welcome to this Homepage!</title></header>
<body>
What would you like to do next?
<div style="padding:40px;margin:40px;border:1px solid #ccc">
	<a href="list.html">
        <br>Generate PPI Graph and Heatmap<br>
	</a>
	<a href="predictions.html">
	<br> Or make a survival prediction:<br><br>
	</a>
</div>
</body>
</html>

